@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap");
$prim: #282c34;
$second: #ffffff;
$icon-size: 40px;
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    padding: 20px 10px;
    width: 100%;
    form {
        display: block;
        margin: 0;
        width: 100%;
        max-width: 450px;
        display: flex;
        input,
        button {
            font-family: inherit;
            font-size: 14px;
            padding: 10px;
            outline: none;
            border-radius: 10px;
            transition: 300ms;
            display: inline-block;
        }

        input {
            flex-grow: 1;
            margin-right: -30px;
            border: none;
            background: rgba($prim, 0.1);
            color: $prim;
            &:focus {
                background: rgba($prim, 0.15);
            }
            &::placeholder {
                color: rgba($prim, 0.7);
            }
        }

        button {
            border: none;
            padding: 12px 18px;
            cursor: pointer;
            font-weight: 500;
            color: #fff;
            background: $prim;
            &:hover {
                background: rgba($prim, 0.85);
            }
            &[disabled] {
                cursor: none !important;
                background: rgb(223, 223, 223);
                color: rgb(177, 177, 177);
            }
        }
    }
}

.row {
    color: $prim;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
    max-width: 768px;
    margin: 20px auto;
    padding: 0 10px;
    @media (max-width: 520px) {
        grid-gap: 10px;
        grid-template-columns: auto;
        text-align: center;
        .location {
            display: flex;
            justify-content: center;
            .city {
                margin-right: 10px;
            }
        }
        .weather {
            justify-content: center;
        }
    }
    .location {
        text-align: right;
        .city {
            font-size: 10vmin;
            line-height: 1;
        }
        .country {
            font-size: 6vmin;
        }
    }
    .climate {
        .temp {
            font-size: 15vmin;
            position: relative;
            p {
                font-weight: 700;
                margin: 0 0 -1em;
                display: inline-block;
            }
            span {
                font-size: 3vmin;
            }
        }
        .feelsLike {
            font-size: 18px;
            margin-bottom: 16px;
        }
        .weather {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            display: flex;
            align-items: center;
            color: rgba($prim, 0.5);
            height: $icon-size;
            img {
                margin-left: 10px;
                max-width: $icon-size;
                max-height: $icon-size;
                display: block;
            }
        }
    }
}

.flex {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($prim, 0.8);
    @media (max-width: 600px) {
        p {
            span {
                display: none;
            }
            margin: 0 0.7em 0;
        }
    }
    p {
        display: flex;
        align-items: center;
        margin: 0 0.5em;
        svg {
            margin-right: 3px;
            max-width: 25px;
            max-height: 25px;
            fill: rgba($prim, 0.8);
        }
    }
}

.warning {
    text-align: center;
    margin: 5vw;
    color: $prim;
    pointer-events: none;

    svg,
    img {
        width: 180px;
        max-width: 70%;
        pointer-events: none;
    }
    p {
        opacity: 0.8;
        font-weight: 300;
        font-size: 1.15em;
        @media (max-width: 768px) {
            font-size: 1em;
        }
    }
}
.swal2-popup.swal2-toast {
    box-shadow: 0 2px 16px -2px rgba(0, 0, 0, 0.2) !important;
    .swal2-content {
        margin-left: 7px !important;
    }
}
